@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none; }

html {
  font-size: 62.5%; }

body {
  scroll-behavior: smooth; }

a {
  text-decoration: none; }

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #6EA49F;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding: 2rem;
  font-size: 1.6em; }
  .navbar__logo {
    width: 100%; }
    .navbar__logo__image {
      width: 6rem; }
  .navbar__box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0rem 2.5rem; }
    .navbar__box__list__item {
      color: #fff;
      padding: 1rem; }
      .navbar__box__list__item:hover {
        background-color: #629c96;
        box-shadow: 13px 5px 10px -5px rgba(0, 0, 0, 0.1); }
