$navbarColor: #bac4ed;
$primaryColor: #f48ca0;
$primaryNavbarFont: #2b2b2b;
$backgroundColor: #2E2E2E;
$cardColor: #272727;


$primaryFont: 'Montserrat', sans-serif;
$productFont: 'Josefin Sans', sans-serif;
$titleFont: 'Lobster', cursive;