@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.container {
  max-width: 1080px;
  margin: 0 auto; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none; }

html {
  font-size: 62.5%; }

body {
  scroll-behavior: smooth; }

a {
  text-decoration: none; }

@keyframes spinner {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.loading-spinner {
  position: absolute;
  left: 50%;
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3;
  /* Light grey */
  border-top: 10px solid #383636;
  /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite; }

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: #bac4ed;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding: 2rem;
  font-size: 1.6em; }
  .navbar__logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem; }
    .navbar__logo__image {
      width: 6rem; }
    .navbar__logo--title {
      font-family: "Montserrat", sans-serif; }
  .navbar__box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0rem 2.5rem; }
    .navbar__box__list__item {
      color: #fff;
      padding: 1rem;
      position: relative;
      overflow: hidden;
      display: inline-block;
      text-decoration: none;
      transition: all .5s; }
      .navbar__box__list__item:hover {
        background-color: #aab6e9;
        box-shadow: 13px 5px 10px -5px rgba(0, 0, 0, 0.1); }
      .navbar__box__list__item:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: #eeeeee;
        transition: left .8s; }
      .navbar__box__list__item:hover:after {
        left: 0; }
      .navbar__box__list__item__cart {
        padding: 1rem;
        background-color: #bac4ed;
        transition: all .5s; }
        .navbar__box__list__item__cart:hover {
          background-color: #aab6e9;
          box-shadow: 13px 5px 10px -5px rgba(0, 0, 0, 0.1); }
        .navbar__box__list__item__cart__box {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center; }
          .navbar__box__list__item__cart__box__count {
            font-size: 1.4em;
            color: white; }
          .navbar__box__list__item__cart__box__image {
            width: 3.5rem;
            filter: brightness(0) invert(1); }

.notFound {
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center;
  align-items: center; }
  .notFound h1 {
    font-size: 3em;
    font-family: "Josefin Sans", sans-serif; }

.header {
  background-image: url("./images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 150%;
  background-attachment: fixed;
  height: 40rem; }
  .header__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%; }
    .header__box__title {
      font-size: 4em;
      font-family: "Lobster", cursive;
      background-color: rgba(95, 83, 107, 0.4);
      padding: 1rem;
      border-radius: .5rem;
      color: white; }

.home {
  padding: 1rem;
  background-color: #f48ca0; }
  .home__box {
    margin: 0 auto;
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .home__box__item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      background-color: white;
      padding: 4rem;
      background-attachment: fixed; }
      .home__box__item__picture {
        max-width: 40rem; }
        .home__box__item__picture--img {
          height: 100%;
          width: 100%; }
      .home__box__item__info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        max-width: 35rem;
        margin: 3rem; }
        .home__box__item__info--title {
          font-family: "Montserrat", sans-serif;
          font-size: 2.5em; }
        .home__box__item__info--content {
          font-family: #f48ca0;
          font-size: 1.5em; }

.list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  background-color: #f48ca0;
  font-family: "Josefin Sans", sans-serif; }
  .list--title {
    margin: 1rem;
    font-family: "Lobster", cursive;
    font-size: 4em;
    text-align: left; }
  .list__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    background-color: #fff;
    border-radius: .3rem;
    height: 100%;
    transition: all .8s;
    margin: 1rem; }
    .list__item:hover {
      background-color: #d9d9d9; }
    .list__item--description {
      font-size: 1.4em;
      color: black; }
    .list__item--title {
      font-size: 2em;
      color: black; }
    .list__item--note {
      color: #fff;
      font-size: 1em; }
    .list__item--price {
      color: black;
      font-size: 2.4em;
      margin: 1rem; }
      .list__item--price span {
        border-bottom: 0.2rem solid #272727; }
    .list__item--stock {
      padding: 1rem;
      font-size: 1.2em;
      color: black; }
    .list__item__buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem; }
      .list__item__buttons--count {
        background-color: white;
        padding: 1rem;
        font-size: 1.4em;
        border-radius: 1rem; }
    .list__item__picture {
      width: 100%; }
      .list__item__picture--image {
        width: 18rem;
        height: 16rem; }
    .list__item--button {
      padding: 1rem;
      background-color: #f05d7a;
      border: 0;
      color: #fff;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      border-radius: 1rem;
      cursor: pointer; }
      .list__item--button:hover {
        background-color: #ee4f6e; }

.item {
  max-width: 1080px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif; }
  .item__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: auto;
    margin: 5rem; }
    .item__box__picture {
      width: 100%; }
      .item__box__picture--img {
        width: 40rem; }
    .item__box__details {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      font-size: 1.4em; }
      .item__box__details--title {
        font-family: "Lobster", cursive;
        font-size: 3em;
        margin: 1rem; }
      .item__box__details--description {
        font-size: 1.4em;
        font-weight: bold; }
      .item__box__details--price {
        font-size: 1.2em;
        font-weight: bold; }
        .item__box__details--price span {
          border-bottom: .2rem solid black; }
      .item__box__details--button {
        display: flex;
        color: black;
        background-color: #ECECEC;
        padding: 1.4rem;
        position: relative;
        overflow: hidden;
        display: inline-block;
        text-decoration: none;
        transition: all .5s;
        font-family: "Josefin Sans", sans-serif;
        font-weight: bold;
        font-size: 1.4em;
        border: none;
        cursor: pointer;
        border-radius: 1rem; }
        .item__box__details--button:hover {
          background-color: #e2e2e2;
          box-shadow: 13px 5px 10px -5px rgba(0, 0, 0, 0.1); }
        .item__box__details--button:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: -100%;
          width: 100%;
          height: 2px;
          background-color: #bac4ed;
          transition: left .8s; }
        .item__box__details--button:hover:after {
          left: 0; }

.cart {
  max-width: 1080px;
  margin: 0 auto; }
  .cart--title {
    font-family: "Lobster", cursive;
    margin: 1rem;
    font-size: 3em; }
  .cart__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem; }
    .cart__wrapper__item {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      height: 18rem;
      border-bottom: .2rem solid #E4E4E4; }
      .cart__wrapper__item__picture {
        margin: 1rem;
        width: autoc; }
        .cart__wrapper__item__picture--img {
          width: 15rem; }
      .cart__wrapper__item--title {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 2em;
        text-align: center; }
      .cart__wrapper__item--stock {
        font-family: "Montserrat", sans-serif;
        font-size: 1.4em;
        text-align: center; }
      .cart__wrapper__item__box {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: .5rem; }
        .cart__wrapper__item__box--btn-delete {
          padding: 1rem;
          border: none;
          color: #EE6969;
          background-color: #e6e6e6;
          transition: .5s background-color; }
          .cart__wrapper__item__box--btn-delete:hover {
            cursor: pointer;
            background-color: #cccccc; }
        .cart__wrapper__item__box--btn-add {
          padding: 1rem;
          border: none;
          color: #69ACEE;
          background-color: #e6e6e6;
          transition: .5s background-color; }
          .cart__wrapper__item__box--btn-add:hover {
            cursor: pointer;
            background-color: #cccccc; }
  .cart__footer {
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: .3rem solid #E4E4E4; }
    .cart__footer--total {
      font-family: "Montserrat", sans-serif;
      font-size: 1.6em; }
    .cart__footer--btn {
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 1.2em;
      background-color: #f48ca0;
      border-radius: .4rem;
      padding: 1rem;
      color: black;
      transition: .5s background-color; }
      .cart__footer--btn:hover {
        background-color: #f05d7a; }
    .cart__footer--btn-clear {
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 1.2em;
      background-color: #FFF038;
      border-radius: .4rem;
      padding: 1rem;
      color: black;
      border: none;
      transition: .5s background-color;
      cursor: pointer; }
      .cart__footer--btn-clear:hover {
        background-color: #d9e216; }
  .cart__empty {
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
    padding: 4rem; }
    .cart__empty--title {
      font-size: 4em;
      padding: 2rem; }
    .cart__empty--btn {
      padding: 1rem;
      font-family: "Montserrat", sans-serif;
      background-color: #f48ca0;
      font-size: 1.4em;
      color: black;
      font-weight: bold;
      border-radius: .4rem;
      transition: .5s background-color; }
      .cart__empty--btn:hover {
        background-color: #f05d7a; }
