.list{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem;
    font-family: $productFont;
    &--title{
        margin: 1rem;
        font-family: $titleFont;
        font-size: 4em;
        text-align: left;
    }
    &__item{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 1rem;
        background-color: $cardColor;
        border-radius: .3rem;
        height: 100%;
        transition: all .8s;
        &:hover{
            background-color: lighten($color: $cardColor, $amount: 10);
        }
        &--description{
            font-size: 1.4em;
            color: white;
        }
        &--title{
            font-size: 2em;
            color: white;
        }
        &--note{
            color: $primaryNavbarFont;
            font-size: 1em;
        }
        &--price{
            color: white;
            font-size: 2.4em;
            margin: 1rem;
            span{
                border-bottom: .2rem solid white;   
            }
        }
        &--stock{
            padding: 1rem;
            font-size: 1.2em;
            color: white;
        }
        &__buttons{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
            &--count{
                background-color: white;
                padding: 1rem;
                font-size: 1.4em;
                border-radius: 1rem;
            }
        }
        &__picture{
            width: 100%;
            &--image{
                width: 18rem;
                height: 16rem;
            }
        }
        
        &--button{
            padding: 1rem;
            background-color: darken($color: $navbarColor, $amount: 10);
            border: 0;
            color: $primaryNavbarFont;
            font-family: $primaryFont;
            font-weight: bold;
            border-radius: 1rem;
            cursor: pointer;
            &:hover{
                background-color: darken($color: $navbarColor, $amount: 13);
            }
        }
    }
}