.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 100%;
    p{
        font-size: 1.6em;
        font-family: $primaryFont;
        font-weight: bold;
    }
}